<!DOCTYPE html>
<html lang="en" class="w-screen h-screen selection:text-white selection:bg-indigo-600">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Demo" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="flex flex-col w-full h-full max-w-full max-h-full overflow-auto antialiased text-gray-900 bg-gray-100">
    <%= @inner_content %>
  </body>
</html>
